<form class='new-comment notification is-success is-light'>
  <label class='has-text-weight-bold is-size-4' for='comment'>Comment</label>
  <br>
  <div class="columns">
    <div class="column">
      <textarea class="textarea comment-text" id='comment' name='comment' rows='1'></textarea>
    </div>
    <div class="column">
      <button class="button is-success" type='submit' value='Submit'>Submit</button>
    </div>
  </div>
</form>
