<section class="card">
    <div class="blog-post-header">
      <p>{{title}}</p>
    </div>
    <div class="blog-post-content">
      <p>{{content}}</p>
    </div>
    <div class="blog-post-date">
      <p>{{createdAt}}</p>
    </div>
</section>

<section class="comments">
  <textarea name="new-comment" id="new-comment" cols="30" rows="10"></textarea>
</section>
