{{#each blogPosts as |posts|}}
<div class="blog-post">
  <div class="blog-post-header">
    <p>{{title}}</p>
  </div>
  <div class="blog-post-content">
    <p>{{content}}</p>
  </div>
</div>
{{/each}}
