<div class="block">
  <h1 class="title is-2 has-text-grey">Sign Up Here!</h1>
</div>

<form class="signup-form is-4">

  <div class="field is-two-thirds">
    <label class="label has-text-grey">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Text input" id="username-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label has-text-grey">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email input" id="email-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label has-text-grey">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" placeholder="Password input" id="password-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success">Submit</button>
    </div>
    <div class="control">
      <button class="button is-success is-light">Cancel</button>
    </div>
  </div>

</form>

<script src="/js/signup.js"></script>